<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285735510429-78dgij102ddlgjvofcm5lv0rm6tr6ltl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285735510429-78dgij102ddlgjvofcm5lv0rm6tr6ltl</string>
	<key>API_KEY</key>
	<string>AIzaSyDYHJXocR6utM89CMi74rnhl8u-OOmohko</string>
	<key>GCM_SENDER_ID</key>
	<string>285735510429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.listify.listify</string>
	<key>PROJECT_ID</key>
	<string>listify-b7fe5</string>
	<key>STORAGE_BUCKET</key>
	<string>listify-b7fe5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285735510429:ios:68453ead82615dfca78f74</string>
</dict>
</plist>